/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f96137;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.content-wrapper {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 10px;
}

p {
    color: #0c0c0c;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.icon {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

.icon i {
    font-size: 2em;
}

.icon:hover {
    color: #0056b3;
}
